.collect{
    width: 700px;
    height: auto;
    margin:40px auto;
}
.collect .img{
    width: 690px;
    height: 110px;
    background-image: url("../img/collect.png");
    background-size: cover;
}
/*文章*/
.articleList{
    width:100%;
    height: auto;
    overflow: hidden;
    margin-top:20px;
    margin-bottom: 30px;
}
.articleList>li{
    width:100%;
    height:auto;
    overflow: hidden;
    border-bottom: 1px dashed #ccc;
    padding:20px 0;
    box-sizing: border-box;
}
.articleList li:last-of-type{
    border-bottom:0;
}
.zuozhe{
    width: 100%;
    height: 60px;

}
.zuozhe a{
    float: left;
    width: auto;
    height: 100%;

}
.zuozhe .aphoto{
    width: 40px;
    height: 40px;
    float: left;
    margin-top:10px;
    border-radius: 50%;
    border:1px solid #ccc;
}
.zuozhe .nicheng{
    margin-left:20px;
    float: left;
    line-height: 60px;
}
.zuozhe span{
    margin-left:20px;
    float: left;
    line-height: 60px;
}
.articleList>li .conBox{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.articleList li .conBox .left{
    width:460px;
    height: auto;
    float: left;
}
.articleList li .conBox .left a{
    display: block;
    width:500px;
    height:30px;

}
.articleList li .conBox .left a h3{
    font-size: 20px;
    color: #292729;
    font-weight: bold;

}

.articleList li .conBox .left a:hover h3{
    color:#FF8288;
}
.articleList li .conBox .left .con{
    margin-top:10px;
    margin-bottom:10px;
    line-height: 24px;
    font-size: 13px;
}
.articleList>li .conBox .photoBox{
    float: right;
    width: 150px;
    height: 120px;
    border: 1px solid #ccc;
    padding:4px;
}
.articleList>li .conBox .photoBox .img{
    width: 100%;
    height: 100%;
}
.articleList>li .conBox .photoBox .img img{
    width: 100%;
}
.articleList li .bottom{
    width: 100%;
    height: 50px;
}
.articleList>li .bottom .sgd{
    float: left;
}
.articleList li .bottom .sgd li{
    float: left;
    margin-right:20px;
    font-size: 14px;
    color: #6A6F67;
}
.articleList li .bottom .sgd li a{
    color: #6A6F67;
}