.setting{
    width:960px;
    padding:20px;
    margin:0 auto;
    overflow: hidden;
}
.setting .left-aside{
    width: 280px;
    height:300px;
    position: fixed;
}
.asideCopy{
    width: 280px;
    height:300px;
    float: left;
}
.setting .left-aside li{
    width: 260px;
    height:50px;
    padding-left:20px;
    line-height: 50px;
    border-radius: 6px;
}
.setting .left-aside li.xuanzhong{
    background:white;
}
.setting .left-aside li:hover{
   background:white;
}
.setting .left-aside li span{
    padding-left:30px;
}
.setting .right{
    float: right;
    width: 680px;
    height: auto;
}
.setting .right .info{
    width: 100%;
    height: 100px;
}
.setting .right .info .upo{
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-left:50px;
}
.setting .right .info .upo img{
    width: 100px;
}
.setting .right .info .update{
    width: 100px;
    height: 28px;
    border-radius: 20px;
    border:1px solid #55a532;
    float: left;
    margin:35px;
    text-align: center;
    line-height: 28px;
}
.base{
    width: 100%;
    height:auto;
}
.base>li{
    width: 100%;
    height:70px;
    border-bottom: 1px solid #ccc;
    margin-left:50px;
    box-sizing: border-box;
    padding:10px 0;
    line-height: 50px;
}
.base>li:last-of-type{
    border-bottom:0;
}
input{
    padding:10px 20px;
    border-radius: 10px;
    outline: none;
    border:none;
    border:1px solid #ccc;
}
.btn{
    width: 100px;
    height: 40px;
    border-radius: 30px;
    outline: none;
    border:none;
    background: #42c02e;
    cursor: pointer;
}
